.formClaro_modal {
  width: 100%!important;
  min-width: 100%!important;
  max-width: 100%!important;
}

.w100white_modal {
  /*min-width: 60%!important;
  max-width: 60%!important;
  margin-left: 20%;
  margin-right: 20%;*/
  width: 100%!important;
  min-width: 100%!important;
  max-width: 100%!important;
}

@media (min-width: 600px) /*and (max-width: 1000px)*/ {
  .modal-content {
    width: 300px!important;
    margin-left: 100px;
  }
}
