.background-header{
    margin-top: 80px;
    /*min-height: 140vh;*/
    height: 750px;
    /*width: 100%;
    padding-left: 25px;
    padding-bottom: 50px;*/
    background-image: url('../../img/background/banner_fondo_peru.jpg');
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .background-section2{
    background-image: url('../../img/background/claro_peru_bg_planes.jpg');
    padding: 60px 15px 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
  }
  .background-section3{
    background-image: url('../../img/background/claro_peru_bg_boxRed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  .background-grey{
    background-color: rgba(85,85,85,1);
    padding: 30px 20px 50px 20px !important;
    color: #fff;
  }
  .background-black{
    background-color: #000;
    padding: 0px !important;
    color: #fff;
  }
  .background-white{
    background-color: #fff;
    padding: 0px !important;
    color: #000;
  }
  @media (min-width: 1366px) and (max-width: 1650px){
    .background-header{
      /*min-height: 120vh;*/
      background-image: url('../../img/background/banner_fondo_peru.jpg');
      position: relative;
    }
  }
  @media (min-width: 1000px) and (max-width: 1366px){
    .background-header{
      /*min-height: 100vh;*/
      background-image: url('../../img/background/banner_fondo_peru.jpg');
    }
  }


  @media screen and (max-width: 1000px){
    .background-header{
      margin-top: 0px;
      margin-bottom: 40px;
      height: 500px!important;
      min-height: 500px!important;
      justify-content: center;
      align-items: center!important;
      padding: 0px 15px 20px 15px;
      background-image: none;
      background-color: #fff !important;
      background-position: top;
      background-repeat: no-repeat;
      background-size: static;
      color: #000;
      margin-bottom: 0px;
    }
  }
