.navbarTerminos{
  padding: 20px;
}
.father-box{
  background: #000;
  color: #fff;
  margin-top: 80px;
  padding: 60px 150px;
  text-align: justify;
  line-height: 18px;
}
.title{
  font-size: 20px;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
span{
  font-size: 17px;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
p{
  font-family: dinMedium, Arial, Helvetica, sans-serif;
}
@media (max-width: 1000px) {
  .father-box{
    padding: 60px 100px;
  }
}
@media (max-width: 750px) {
  .father-box{
    padding: 60px 70px;
  }
}
@media (max-width: 628px) {
  .father-box{
    padding: 60px;
  }
}
@media (max-width: 600px) {
  .father-box{
    padding: 60px 20px;
  }
  .title{
    font-size: 18px;
  }
  span{
    font-size: 15px;
  }
}
