.formClaro{
  padding: 0px !important;
}
.ocultarForm{
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.form-fixed-principal{
  position: fixed;
  z-index: 1;
  top: 227px !important;
  right: 30px;
  color: white;
  max-width: 25% !important;

}
.ClassMigrar{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: rgba(230, 14, 1, 1) !important;;
}
.Classlinea{
  font-weight: bold;
  padding: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(230, 14, 1, 1) !important;
  color: #fff !important;
}
.NumLlama{
  line-height: 25px;
  text-decoration: none;
  font-size: 30px;
  font-family: din-black;
  color: #fff;
}
.NumLlama:hover{
  color: #000;
  text-decoration: none;
}

.textLinea{
  font-weight: bold;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
}
.textElige{
  text-align: center;
  font-weight: bold;
  font-family: dinMedium, Arial, Helvetica, sans-serif;
}
.card{
  background-color: rgba(144, 144, 144, 0.8);
  padding: 12px;
  margin-top: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.inputFormSection2{
  width: 100% !important;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 50px;
  color: #0097af;
}
.TextTerminos{
  font-size: 13px;
  text-decoration: underline;
  color: #000;
}
.form-check{
  padding: 10px 50px;
}

.buttonFormPrimary{
  background: rgba(230, 14, 1, 1) !important;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 0px;
  font-family: din-black;
  letter-spacing: 1px;
}

.form__boxN{
  width: 100%;
  height: 100%;
  background: #ccc;
  min-height: 50px;
  max-width: 240px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
}
.input-radio{
  display: block;
  position: relative;
}
.input-radio input{
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 10%;
  transform: translateY(-50%);
}
.labelMovil{
  margin: 4px 0px !important;
}
.labelFijo{
  margin: 4px 0px 15px !important;
}
.label-default{
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  background: #ccc;
  color: #000;
}
.label-active {
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
  background: #f00f1a;
  color: #fff;
}

.input-radio label {
    color: inherit;
    height: 40px;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: color 250ms ease-in;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    color: #0d0d0d;
    border-radius: 25px;
    font-weight: bold;
}
.form-animate{
  transition: all 0.4s ease;
}
.topForm{
  opacity: 0;
  transition: all 0.4s ease;
}

@media (max-width: 1000px) {
  .ocultarForm{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 100px!important;
    display: flex;
    justify-content: center;
  }
  .form-fixed-principal{
    position: relative;
    top: 0px !important;
    right: 0px;
  }
  .formClaro{
    width: 60%!important;
    max-width: 60%!important;
  }
  .ocultarForm{
    margin-top: 0px !important;
    margin-bottom: 0px !important;

  }
}
@media (max-width: 600px) {
  .formClaro{
    width: 90%!important;
    max-width: 90%!important;
  }
}
