@import "background.css";
@import "nav.css";
@import "FormPrincipal.css";
@import "header.css";
@import "section/section2.css";
@import "section/section3.css";
@import "footer/footer1.css";
@import "footer/footer2.css";
@import "footer/footer3.css";
@import "content2.css";

/*Fuentes*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: din-black;
    src: url(../fonts/DINPro-Blackd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/DINPro-Black.otf) format('opentype'), url(../fonts/DINPro-Black.html) format('woff'), url(../fonts/DINPro-Black-2.html) format('truetype'), url(../fonts/DINPro-Black.svg#DINPro-Black) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: din-medium;
    src: url(../fonts/DINPro-Mediumd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/DINPro-Medium.otf) format('opentype'), url(../fonts/DINPro-Medium.html) format('woff'), url(../fonts/DINPro-Medium-2.html) format('truetype'), url(../fonts/DINPro-Medium.svg#DINPro-Medium) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: din-regular;
    src: url(../fonts/DINPro-Regulard41d.eot?#iefix) format('embedded-opentype'), url(../fonts/DINPro-Regular.otf) format('opentype'), url(../fonts/DINPro-Regular.html) format('woff'), url(../fonts/DINPro-Regular-2.html) format('truetype'), url(../fonts/DINPro-Regular.svg#DINPro-Regular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/Bebasd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/Bebas.html) format('woff'), url(../fonts/Bebas-2.html) format('truetype'), url(../fonts/Bebas.svg#Bebas) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: normal;
    src: url(wp-content/themes/landing/SVfont/FrutigerCE45Lightd41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/FrutigerCE45Light.html) format('truetype');
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: bold;
    src: url(wp-content/themes/landing/SVfont/VectoraLTStd-Boldd41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/VectoraLTStd-Bold.html) format('truetype');
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: serifi;
    src: url(wp-content/themes/landing/SVfont/TektonPro-Regulard41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/TektonPro-Regular.html) format('truetype');
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: iconos;
    src: url(wp-content/themes/landing/SVfont/fontawesome-webfontd41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/fontawesome-webfont.html) format('truetype')
}

@font-face {
    font-family: navicons;
    src: url(wp-content/themes/landing/SVfont/naviconsd41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/navicons.html) format('truetype')
}

@font-face {
    font-family: mas;
    src: url(wp-content/themes/landing/SVfont/masd41d.html?#iefix) format('embedded-opentype'), url(wp-content/themes/landing/SVfont/mas.html) format('truetype')
}

/*End Fuentes*/

*{
  padding: 0px;
  margin: 0px;
}
.q-pa-0{
  padding: 0px !important;
}
.q-pt-20{
  padding-top: 20px;
}
.q-pb-20{
  padding-bottom: 20px;
}
.q-pr-20{
  padding-right: 20px;
}
.q-pl-20{
  padding-left: 20px;
}
.row-flex{
  display: flex;
  flex-direction: row;
}














.font1{
  font-family: BebasNeue-Regular;
}

.font2{
  font-family: RobotoCondensed-Regular;
}

.textColorWhite{
  color: #fff !important;
}

.textColorYellow{
  color: #f3be0e !important;
}

.colorYellow{
  color: #f3be0e;
}

#mainNav .navbar-toggler {
  background-color: #f3be0e;
}

.cuadroNav{
  position: absolute;
  top: 0%;
  right: 2rem;
  background-color: #00243c;
  text-align: center;
}

.btn{
  border: 0px solid transparent;
}

.btn-primary{
  background-color: #f3be0e !important;
  color: #00243c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #005f97 !important;
  border-color: #0062cc;
}

.letterS{
  letter-spacing: 3px;
}

.border-left{
  border-left: 2px solid #00243c !important;
}

.border-right{
  border-right: 2px solid #00243c !important;
}

.height1{
  height: 1rem !important;
}

.height2{
  height: 1.5rem !important;
}

.height3{
  height: 2.5rem !important;
}

#navbar{
  background-color: rgba(255, 255, 255, 0) !important;
  z-index: 999;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: rgba(255,255,255,0);
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


/*estulos header*/



.formBanner{
  border: 3px solid #f3be0e !important;
  background-color: rgba(0, 36, 60, 0.8) !important;
}
.buttonForm{
  margin-top: 1rem !important;
  margin-bottom: -1.5rem !important;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.border-bottom {
    border-bottom: 3px solid #f3be0e !important;
}

.form-control{
    background-color: rgba(0, 36, 60, 0.8) !important;
    border: 0px solid #ced4da;
    color: #fff;
}

.rombo{
  width: 80px;
  height: 80px;
  background: #f3be0e;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -12%;
  left: 40%;
}

.rombo span{
  -webkit-transform: inherit;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.fa-stack{
  text-align: center;
  color: #00243c !important;
  width: 100% !important;
  margin-top: -2.1rem;
  margin-left: -0.6rem;
  line-height: 2.2em !important;
}

.terminos{
  font-size: 0.6rem;
}

.logos{
    position: absolute;
  top: 40%;
  width: 25%;
    left: 25%;
    background-color: rgba(0, 36, 60, 0.5) !important;
}

@media (max-width: 1000.98px) {

  .form-fixed-principal{
    position: relative;
    top: 60px;
    right: 0px;
  }

  .formBanner{
    background-color: rgba(0, 36, 60, 1) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }



  .titleForm{
    font-size: 2rem;
  }

  .bannerImg{
    margin-top: 5rem !important;
  }

  .css-buscar-ahora{
    margin-top: 1.5rem !important;
  }

  .logos{
    width: 50%;
    padding: 1rem !important;
  }

}



/*estilos buscador*/
.shadow{
  -webkit-box-shadow: 0px -9px 15px -7px rgba(0,0,0,0.35) !important;
  -moz-box-shadow: 0px -9px 15px -7px rgba(0,0,0,0.35) !important;
  box-shadow: 0px -9px 15px -7px rgba(0,0,0,0.35) !important;
}

.text-style{
  color: #00243c;
  font-weight: bold;
}

.text-bold{
  font-weight: bold;
}

.border-right {
    border-right: 2px solid #00243c !important;
}

.border-right2 {
    border-right: 2px solid #00243c !important;
}

.btn-color{
  background-color: #f3be0e !important;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 1000.98px) {
  .border-right2 {
      border-right: 0 !important;
  }

  .css-buscar-ahora{
    margin-top: 1rem !important;
  }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/*fin estolos buscador*/

/*Ajustes select2 */
.select2-container--default .select2-selection--single {
    border: 0px !important;
}

.select2-container {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.select2-selection__placeholder{
  font-size: 0.7em;
}

.select2-selection__rendered{
  font-weight: initial;
  font-size: 1em;
}



/*fin ajustes select2*/

.css-buscar-ahora{
  margin-top: -84px;
}

/*estilos datatables*/
#DataTables_Table_0_info, #DataTables_Table_0_length, #DataTables_Table_0_filter{
  display: none!important;
}
#DataTables_Table_0_paginate {
    /*position: fixed;*/
    top: 110px;
    right: 0;
    left: 0;
    text-align: center;
}

#DataTables_Table_0_paginate a {
  background-color:  rgba(0, 0, 0, 0);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #f3be0e !important;
    font-size: 1.5em;
    border: 0;
    background-color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 100%, gainsboro 0%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button:hover  {
    color: #00243c !important;
    font-size: 1.5em;
    border: 0;
    background-color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 100%, gainsboro 0%);
}
#DataTables_Table_0_previous{
   color: #00243c !important;
   font-size: 1.5em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em 0;
}



/*estilos fontawasone*/
.fa-2x {
    font-size: 1.6em;
}

/*estilos card datatables reserva*/
.txt-parrafo-1{
    line-height: 1.1em;
}
/* Nav Responsive */

@media (max-width: 767.98px) {
  .navbar-brand{
    margin: 0rem !important;
  }

  .border-left{
    border-left: inherit !important;
  }
}

/*estilo contenido*/
.button{
    position: absolute;
    top: 0rem;
    right: -5rem;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.buttonCard{
  font-size: 2rem !important;
}
.img-container {
  position: relative;
  line-height: 0;
}

.img-container div {
  height: 100%;
  margin: 0;
  padding: 25px;
  color: #fff;
  text-align: center;
  background-color: rgb(0, 36, 60, 0.7) !important;
  transition: opacity .4s linear;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.img-container:hover div {
  opacity: 1;
}


.cardtit{
  font-size: 3rem;
  padding-top: 2rem;
}

.img1{
  background-image: url("../img/destino1.jpg");
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
}


@media (max-width: 575.98px) {
  .cardtit{
    font-size: 2rem;
    padding-top: 2px;
  }

  .buttonCard{
    font-size: 0.8rem !important;
  }

  .textCard{
    display: none;
  }


}

@media (min-width: 576px) and (max-width: 1000.98px) {
  .cardtit{
    font-size: 3rem;
    padding-top: 2px;
  }

  .buttonCard{
    font-size: 2rem !important;
  }

  .textCard{
    font-size: 1.5rem !important;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cardtit{
    font-size: 1rem;
    padding-top: 0px;
  }

  .buttonCard{
    font-size: 1rem !important;
  }

  .textCard{
    font-size: 0.8rem !important;
  }

}



.form-control{
    background-color: #005f97;
    border: 0px solid #ced4da;
    color: #fff;
}

@media (max-width: 767.98px) {

    .logoCrucero{
        width: 50%;
    }
     .border-left{
         border-left: inherit !important;
     }

     .border-right{
         border-right: inherit !important;
     }

     .page-section{
        margin-top: 2rem;
     }

     .textForm{
         font-size: 1rem;
     }
}

/*estilos formulario callback*/
.form-fixed-principal{
  position: fixed;
  z-index: 1000;
  top: 170px;
  right: 30px;
  color: white;
  max-width: 25rem;
}


.formBanner{
  border: 3px solid #f3be0e !important;
  background-color: rgba(0, 36, 60, 0.6) !important;
}
.buttonForm{
  margin-top: 1rem !important;
  margin-bottom: -1.5rem !important;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.border-bottom {
    border-bottom: 3px solid #f3be0e !important;
}

.form-control{
    background-color: #fff !important;
    border: 0px solid #ced4da;
    color: #000;
}

.rombo{
  width: 80px;
  height: 80px;
  background: #f3be0e;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -12%;
  left: 40%;
}

.rombo span{
  -webkit-transform: inherit;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.fa-stack{
  text-align: center;
  color: #00243c !important;
  width: 100% !important;
  margin-top: -2.1rem;
  margin-left: -1.6rem;
  line-height: 3.5em !important;
}


.terminos{
  font-size: 0.6rem;
}

.logos{
    position: absolute;
  top: 40%;
  width: 25%;
    left: 25%;
    background-color: rgba(0, 36, 60, 0.5) !important;
}

@media (max-width: 1000.98px) {

  .form-fixed-principal{
    position: relative;
    top: 60px;
    right: 0px;
  }

  .formBanner{
    background-color: rgba(0, 36, 60, 1) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ocultarForm{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .titleForm{
    font-size: 2rem;
  }

  .bannerImg{
    margin-top: 5rem !important;
  }


}
/*fin estilos formulario callback*/


/*estilos modal*/
.modal{
    padding-top: 5rem !important;
}
.modal-content {
    background-color: inherit !important;
    border: inherit !important;
}
.formBanner{
  border: 3px solid #f3be0e !important;
    background-color: rgba(0, 36, 60, 1) !important;
    color: #fff !important;
}
.buttonForm{
  margin-top: 1rem !important;
  margin-bottom: -1.5rem !important;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.border-bottom {
    border-bottom: 3px solid #f3be0e !important;
}

.form-control{
    background-color: rgba(0, 36, 60, 0.8) !important;
    border: 1px solid;
    color: #fff;
}

.rombo{
  width: 80px;
  height: 80px;
  background: #f3be0e;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -12%;
  left: 42%;
}

.rombo span{
  -webkit-transform: inherit;
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.fa-stack{
  text-align: center;
  color: #00243c !important;
  width: 100% !important;
  margin-top: -2.3rem;
  margin-left: -3.6rem;
  line-height: 3.6em !important;
}

.terminos{
  font-size: 0.6rem;
}
/*fin estilos modal*/

/*Stilos NS*/

.justify-center   {
  display: flex;
  justify-content: center;
}

.justify-between    {
  display: flex;
  justify-content: space-between;
}

.justify-around   {
  display: flex;
  justify-content: space-around;
}

.justify-end    {
  display: flex;
  justify-content: flex-end;
}

.d-column   {
  display: flex;
  flex-direction: column;
}



/*Fin Stilos NS*/



/*Estilos generales pagina*/

/*.title__banner {
    color: #fff;
    font-family: din-black;
    font-size: 1rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
}*/

.din-black {
    font-family: din-black, arial;
}

.din-regular {
    font-family: din-regular, arial;
}

.din-medium {
    font-family: din-medium, arial;
}

* {
    font-family: din-regular, arial;
    font-weight: lighter;
}


/*Fin estilos generales pagina*/
