/* .movilDisplay{
  display: none !important;
} */
.CarruselHeader{
  width: 35%;
}
.ControlsHeader{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #0097af;
}
.CarruselHeaderCenter{
  margin: 0px 20px;
}
.imgCarruselPhone{
  width: 125px !important;
  height: 280px;
  padding-bottom: 30px;
}
.ControlsHeader {
  top: 45%;
}
.carousel-indicators{
  margin-bottom: 0px !important;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0097af;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}
.textCellHeader{
  font-size: 17px;
  font-weight: bold;
}
.ConoceMas{
  padding-top: 10px;
}
.ConoceMas > .carousel-indicators{
  bottom: -40px;
}
@media screen and (max-width: 1000px){
  /* .movilDisplay{
    display: flex !important;
    margin-top: 80px;
  } */
  .CarruselHeader{
    width: 0%;
  }
  .textCellHeader{
    font-size: 17px;
  }
  .imgCarruselPhone{
    width: 150px !important;
    height: 300px;
  }
  .ControlsHeader{
    width: 60px;
    height: 60px;
    top: 40%;
  }
  .controlPrev{
    margin-left: 50px;
  }
  .controlNext{
    margin-right: 50px;
  }
  /* .imgMovilMB{
    width: 50%;
  } */
}
@media screen and (max-width: 767px){
  /* .movilDisplay{
    margin-top: 165px;
  } */
}
@media screen and (max-width: 770px){
  .imgCarruselPhone{
    width: 120px !important;
    height: 250px;
  }
  .ControlsHeader{
    width: 50px;
    height: 50px;
  }
  .controlPrev{
    margin-left: 30px;
  }
  .controlNext{
    margin-right: 30px;
  }
}
@media screen and (max-width: 660px){
  .CarruselHeaderCenter{
    height: 250px;
  }
}
@media screen and (max-width: 520px){
  .CarruselHeaderCenter{
    height: 200px;
  }
  .imgCarruselPhone{
    max-width: 80px !important;
    max-height: 182px !important;
  }
}
@media screen and (max-width: 560px){
  .imgCarruselPhone{
    width: 115px !important;
    height: 240px;
  }
  .ControlsHeader{
    width: 40px;
    height: 40px;
  }
  .controlPrev{
    margin-left: 15px;
  }
  .controlNext{
    margin-right: 15px;
  }
  /* .imgMovilMB{
    width: 60%;
  } */
}
@media screen and (max-width: 440px){
  .controlPrev{
    margin-left: 5px;
  }
  .controlNext{
    margin-right: 5px;
  }
  /* .imgMovilMB{
    width: 65%;
  } */
}
@media screen and (max-width: 385px){
  .textCellHeader{
    font-size: 13px;
  }
  .imgCarruselPhone{
    width: 100px !important;
    height: 210px;
  }
}
.carousel-indicators{
  margin-bottom: 0px !important;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0097af;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}
.textCellHeader{
  font-size: 20px;
}
@media screen and (max-width: 991px){
  .CarruselHeader{
    width: 48%;
  }
  .textCellHeader{
    font-size: 18px;
  }
}
@media screen and (max-width: 890px){
  .CarruselHeader{
    width: 50%;
  }
}
@media screen and (max-width: 815px){
  .CarruselHeader{
    width: 58%;
  }
}
@media screen and (max-width: 715px){
  .CarruselHeader{
    width: 58%;
  }
  .imgCarruselPhone{
    width: 110px !important;
    height: 260px;
  }
  .CarruselHeaderCenter{
    margin: 0px !important;
  }
}
@media screen and (max-width: 690px){
  .CarruselHeader{
    width: 65%;
  }
}
@media screen and (max-width: 600px){
  .CarruselHeader{
    width: 100%;
  }
  .imgCarruselPhone{
    width: 130px !important;
  }
}
@media screen and (max-width: 445px){
  .imgCarruselPhone{
    width: 100px !important;
    height: 220px;
  }
}
@media screen and (max-width: 405px){
  .MovilClassMargin{
    top: 15px !important;
  }
}
@media screen and (max-width: 390px){
  .imgCarruselPhone{
    width: 100px !important;
    height: 210px;
  }
}
@media screen and (max-width: 375px){
  .imgCarruselPhone{
    width: 90px !important;
    height: 190px;
  }
}
