.BoxRed {
  background-color: #e50e00;
  padding: 5px;
  margin: 2px 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 640px;
}

@media (min-width: 767px) {
  .BoxRed {
    max-width: 640px;
  }
}

.iconNav{
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 100%;
  padding-left: 20px;
  padding-right: 0px;
}
.imgPhone {
  width: 30px;
  height: 35px;
}
.TeflNav{
  font-family: din-black !important;
  font-weight: 570;
}
.textNavbar{
  color: #fff;
  /*font-weight: normal;*/
  font-size: 16px !important;
  text-decoration: none;
}

.textNavbar a, .textNavbar a:hover {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

.LogoMovilcenter{
  padding-left: 50px;
}



@media screen and (max-width: 767px){
  .LogoMovilcenter{
    text-align: center;
    padding: 10px 0px;
  }
  .BoxRed {
    margin: 0px;
  }
  .hidenCell{
    display: none;
  }
  .BoxRed {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: red;
  }
  .textNavbar{
    text-align: center;
    padding: 10px 3px;
  }

  .textNavbar a, .textNavbar a:hover {
    font-size: 16px;
  }

}

@media screen and (max-width: 376px){
  .textNavbar{
    font-size: 13px !important;
  }
  .TeflNav{
    font-size: 13px !important;
    font-family: din-black !important;
    font-weight: 570;
  }
}
