.textFooterlegal{
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px !important;
  padding: 25px 0px;
}
.textFooterinf{
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px;
  margin: 0px;
  font-weight: 400;
  line-height: 12px;
}
.fontNumber{
  font-size: 23px;
  margin: 0px;
  margin: 0px;
  line-height: 23px;
  font-weight: 400;
}
@media screen and (max-width: 767px){
  .classMovilfootes2{
    padding: 20px 0px;
    font-size: 11px;
  }
  .textFooterlegal{
    padding: 0px 0px;
  }
}
