#CarruselSeciton2Movil{
  display: none !important;
}
.ClassImgModalOpen{
  cursor: pointer;
  width: 70%;
}
.CarruselSeciton2{
  width: 65%;
}
.btnSeciton2{
  width: 65%;
  padding-top: 50px;
}
.IconsControlSection{
  height: 35px;
}
.ColorIndicator > .carousel-control-prev-icon{
  background-color: rgba(0,0,0,0)!important;
  background-image: url('../../img/arrow.png');
  transform: scaleX(-1);
  height: 35px;
}
.ColorIndicator > .carousel-control-next-icon{
  background-color: rgba(0,0,0,0)!important;
  background-image: url('../../img/arrow.png');
  height: 35px;
}
.IconsControlSection2{
  height: 35px;
  border-radius: 5px;
}
.titleSection2{
  font-size: 30px;
  padding-left: 6%;
  font-weight: bold;
  font-family: din-black;
  color: #000;
}
.ColorRed2{
  font-size: 30px !important;
  color: rgba(240,7,3,1);
  font-family: din-black;
}
.btnColor2{
  font-family: din-black;
  background: rgba(240,7,3,1);
  font-size: 17px;
  border-radius: 5px;
  padding: 4px 25px !important;
}
@media screen and (max-width: 1000px){
  .CarruselSeciton2{
    min-width: 100%;
  }
  .btnSeciton2{
    width: 100%;
  }
  .titleSection2{
    text-align: center;
    padding: 10px;
  }
}
@media screen and (max-width: 770px){
  .titleSection2{
    font-size: 25px;
  }
  .ColorRed2{
    font-size: 25px!important;
  }
}
@media screen and (max-width: 600px){
  #CarruselSeciton2Movil{
    display: flex !important;
  }
  #CarruselSeciton2{
    display: none !important;
  }
  .ClassImgModalOpen{
    width: 77%;
  }
  .titleSection2{
    font-size: 20px;
  }
  .ColorRed2{
    font-size: 20px!important;
  }
}
@media screen and (max-width: 500px){
  .ClassImgModalOpen{
    width: 80%;
  }
}
@media screen and (max-width: 400px){
  .ClassImgModalOpen{
    width: 85%;
  }
}
@media screen and (max-width: 370px){
  .ClassImgModalOpen{
    width: 100%;
  }
}
