.fhaterBox{
  width: 65vw;
}
.childBox{
  width: 75%;
  padding: 30px 25px;
  text-transform: uppercase;
}
.textporque{
  font-size: 33px !important;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: din-black;
  line-height: 35px;
}
@media screen and (max-width: 1213px){
  .fhaterBox{
    width: 75vw;
  }
}
@media screen and (max-width: 1051px){
  .fhaterBox{
    width: 80vw;
  }
}
@media screen and (max-width: 985px){
  .fhaterBox{
    width: 100vw;
  }
}
@media screen and (max-width: 789px){
  .textporque{
    font-size: 30px !important;
  }
}
@media screen and (max-width: 685px){
  .textporque{
    font-size: 25px !important;
  }
}
@media screen and (max-width: 581px){
  .childBox{
    width: 90%;
  }
}
@media screen and (max-width: 517px){
  .childBox{
    width: 95%;
  }
  .textporque{
    font-size: 22px !important;
  }
}
@media screen and (max-width: 517px){
  .childBox{
    width: 100%;
  }
  .movilImageSection3{
    width: 320px;
  }
}
@media screen and (max-width: 368px){
  .movilImageSection3{
    width: 300px;
  }
  .childBox{
    padding: 30px 10px;
  }
}
